.container {
    width: 640px;
    height: 680px;
    background-color: rgb(119, 152, 105);
    margin: 10px;
    padding: 10px;
}

h1 {
    text-align: center;
}

.col1 {
    width: 600px;
    background-color: rgb(236, 108, 18);
    display: flexbox;
    margin: 10px;
    padding: 10px;
}

.col2 {
    width: 600px;
    background-color: blanchedalmond;
    display: flex;
    margin: 10px;
    padding: 10px;
    justify-content: center;
}

.col3 {
    width: 600px;
    background-color: rgb(12, 15, 121);
    display: flexbox;
    margin: 10px;
    padding: 10px;
}

img {
    width: 150px;
    height: 150px;
    margin: 10px;
    padding: 10px;
}